@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 245, 245, 245;
  --accent-yellow: 250, 204, 21;
  --accent-green: 34, 197, 94;
  --accent-purple: 147, 51, 234;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  min-height: 100vh;
}

/* Custom styles for range inputs */
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
}

/* Track styles */
input[type="range"]::-webkit-slider-runnable-track {
  background: hsl(194, 65%, 34%);
  height: 6px;
  border-radius: 3px;
}

input[type="range"]::-moz-range-track {
  background: hsl(194, 65%, 34%);
  height: 6px;
  border-radius: 3px;
}

/* Thumb styles */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  margin-top: -4px;
  background-color: #2b4fb3;
  border-width: 1px;
  border-style: solid;
  border-color: #052336;
  height: 14px;
  width: 14px;
  border-radius: 50%;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}

input[type="range"]::-moz-range-thumb {
  border: none;
  background-color: #2b4fb3;
  border-width: 1px;
  border-style: solid;
  border-color: #052336;
  height: 14px;
  width: 14px;
  border-radius: 50%;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}

/* Focus styles */
input[type="range"]:focus {
  outline: none;
}

input[type="range"]:focus::-webkit-slider-thumb {

  background-color: #2b4fb3;
  border-width: 1px;
  border-style: solid;
  border-color: #052336;
  box-shadow: 0 0 0 2px rgba(250, 204, 21, 0.4);
}

input[type="range"]:focus::-moz-range-thumb {

  background-color: #2b4fb3;
  border-width: 1px;
  border-style: solid;
  border-color: #052336;
  box-shadow: 0 0 0 2px rgba(250, 204, 21, 0.4);
}

/* Hover styles */
input[type="range"]:hover::-webkit-slider-thumb {

  background-color: #2b4fb3;
  border-width: 1px;
  border-style: solid;
  border-color: #052336;
}

input[type="range"]:hover::-moz-range-thumb {

  background-color: #2b4fb3;
  border-width: 1px;
  border-style: solid;
  border-color: #052336;
}

/* Disabled styles */
input[type="range"]:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #052336;
}

::-webkit-scrollbar-thumb {
  background: #2b4fb3;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: hsl(194, 65%, 34%);
  ;
}