.git/
.gitignore
.idea/
build/
.gradle/
*.md
*.log
*.iml
*.iws
*.ipr
**/.DS_Store
**/Thumbs.db
**/*.class
**/*.jar
!gradle/wrapper/gradle-wrapper.jar
**/target/
**/out/
**/.settings/
**/.project
**/.classpath 